<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Opera</title>
</head>
<body>
	<h1>Opera</h1>
	<p><a th:href="@{/opera/create}">Create</a></p>
	<table border="1">
		<tr>
			<th>歌劇名稱</th>
			<th>年代</th>
			<th>作者</th>
			<th />
			<th />
		</tr>
		<tr th:each="opera: ${operaList}">
			<td th:text="${opera.title}" />
			<td th:text="${opera.year}" />
			<td th:text="${opera.composer}" />
			<td><a th:href="@{/opera/detail/{id}(id=${opera.operaId})}">Detail</a></td>
			<td><a th:href="@{/opera/edit/{id}(id=${opera.operaId})}">Edit</a></td>
		</tr>
	</table>
	<p><a th:href="@{/}">Home</a></p>
</body>
</html>