<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Opera</title>
</head>
<body>
	<h1>Opera</h1>
	<p><a th:href="@{/opera/create}">Create</a></p>
	<form th:action="@{/opera}" method="get">
		Opera Title: <input type="text" th:value="${param.q}" name="q" />
		<input type="submit" value="Search" />
	</form>
	<table border="1">
		<tr>
			<th><a th:href="@{/opera(q=${param.q},s=${sTitle})}">歌劇名稱</a></th>
			<th><a th:href="@{/opera(q=${param.q},s=${sYear})}">年代</a></th>
			<th>作者</th>
			<th />
			<th />
			<th />
			<th />
		</tr>
		<tr th:each="opera : ${operaList}">
			<td th:text="${opera.title}" />
			<td th:text="${opera.year}" />
			<td th:text="${opera.composer}" />
			<td><a th:href="@{/opera/detail/{id}(id=${opera.operaId})}">Detail</a></td>
			<td><a th:href="@{/opera/edit/{id}(id=${opera.operaId})}">Edit</a></td>
			<td><a th:href="@{/opera/delete/{id}(id=${opera.operaId})}">Delete</a></td>
			<td><a th:href="@{/opera/delete2/{id}(id=${opera.operaId})}" onclick="return confirm('確定要刪除此筆資料?');">Delete2</a></td>
		</tr>
	</table>
	<p><a th:href="@{/}">Home</a></p>
</body>
</html>