<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Opera Detail</title>
</head>
<body>
	<h1>Opera Detail</h1>
	<ul th:object="${opera}">
		<li th:text="'歌劇名稱: ' + *{title}" />
		<li th:text="'年代: ' + *{year}" />
		<li th:text="'作者: ' + *{composer}" />
	</ul>
	<hr />
	<h3>User Comments</h3>
	<div th:each="comment : ${opera.comments}">
		<span th:text="${comment.userName} + ' : ' + ${comment.userComment} + ' - ' + ${#dates.format(comment.lastModified, 'yyyy/MM/dd')}" />
	</div>
	<p><a th:href="@{/opera}">Back to List</a></p>
</body>
</html>